<footer itemscope itemtype="https://schema.org/WPFooter">
  <a href="#scrolltop"><div class="scroll-arrow"></div><span id="scroll-text">top</span></a>
  <div id="moreinfo">
    <div id="public-domain-declare">
      <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank"><img class="no-margin" id="public-domain-logo" src="./resources/img/gls-cc0-public-domain.webp" width="88" height="31" alt="CC0 public domain logo"></a>
      <span>We release all content on this website into the public domain. You may copy, edit and distribute our stuff for any purpose with no restrictions.
        <a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">(learn more)</a>
      </span>
    </div>
    <div id="contact-videos">
      <p class="p-margin"> If you like what we share, let us know☺: <br><a href="mailto:gentlelivingshop@protonmail.com">gentlelivingshop <i>at</i> protonmail.com</a> or
        <a href="https://matrix.to/#/#gentlelivingshop:matrix.org?via=matrix.org">on Matrix</a>.
      </p>
      <hr>
      <p class="p-margin">Watch our videos: <a href="https://diode.zone/c/gentle_living_shop/videos" target="_blank">PeerTube</a> | <a href="https://www.youtube.com/c/GentleLivingShop" target="_blank">YouTube</a></p>
      <br>
    </div>
    <div><img class="no-margin" id="bottomlogo" src="./resources/img/gls-footer-love-blk-n-white.webp" alt="logo with handwriting" width="260" height="89"></div>
  </div>
  <div class="animation-cat-box">
    <img class="cat-walking" src="./resources/img/animation-cat-walking.gif">
  </div>
  <div id="foot">
    <span><a href="./index.html">Home</a></span>
    <span><a href="./about-us.html">About Us</a></span>
    <span><a href="./privacy-policy.html">Privacy Policy</a></span>
    <span><a href="./site-map.html">🗺Site Map</a></span>
    <span>
      <a href="https://gitlab.com/gentlelivingshop/gentlelivingshop.gitlab.io" target="_blank"><img src="./resources/img/gitlab-logo.webp" alt="gitlab logo" width="16px"> Source Code</a>
    </span>
    <span><a href="./zh/index.html">中文</a></span>
    <span><a href="./nl/index.html">Nederlands</a></span>
    <br>
    <div id="foot-end">
      <span><a href="./why-vegan.html"><img class="footer-button" id="button-vegan" src="./resources/img/button-vegan.webp" alt="100% vegan button" height="32" width="82"></a></span>
      <span>❤ No rights reserved ❤</span>
      <span><a href="./technologies-we-use.html"><img class="footer-button" id="button-gnulinux" src="./resources/img/button-gnulinux.webp" alt="gnulinux button" height="32" width="82"></a></span>
    </div>
  </div>
</footer>
