
<header class="site-header" itemscope itemtype="https://schema.org/WPHeader">

    <!--navigation menu & mobile menu-->
    <span id="menubutton">menu</span>
    <input id="menu-btn" type="checkbox" aria-label="open menu button"/>
    <nav id="mainnav" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <ul>
            <li><a href="./index.html">Home</a>
                <ul>
                    <li><a href="./about-us.html">About Us</a></li>
                </ul>
            <li><a href="./projects.html">Find a project</a></li>
            <li><a href="./zh/index.html">中文</a>
                <ul>
                    <li><a href="./nl/index.html">Nederlands</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--
    <img src="./resources/img/fox-walking.gif" class="fox-walking"></img>
    -->
    <div class= "anchor" id="scrolltop"></div>
    <h1 id="site-title"><a href="./index.html" id="logo-link"><img class="img-rotate" id="title-logo" src="./resources/img/gls-logo-64px.webp"
                width="64" height="64" alt="title logo"></a> <a href="./index.html">Gentle Living Shop</a></h1>
    <h2>Discover tutorials & how-tos on how we create our natural handmade home, free access for
        all!❤</h2>


</header>
