<header class="site-header" itemscope itemtype="https://schema.org/WPHeader">
    <!--navigation menu & mobile menu-->
    <nav class="header-menu">
          <div id="empty-header-filler"></div>
          <a href="./index.html" id="top-home">Home</a>
          <a href="./projects.html" id="top-project-long">Find a project</a>
        <a href="./projects.html" id="top-project-short">Projects</a>
        <a href="https://gentlelivingshop.com/" id="top-shop">Shop</a>
          <details id="language-selector">
            <summary><img class="vertical-bottom" id="language-select-img" src="./resources/img/header-language-selector.png" alt="choose a language below" height="35px" width="auto"></summary>
              <a href="./zh/index.html" id="first-language"><div>中文</div></a>
              <a href="./nl/index.html" id="second-language"><div id="lang-long">Nederlands</div><div id="lang-short">NL</div></a>
          </details>
              <div id="empty-header-filler2"></div>
    </nav>
    <div class= "anchor" id="scrolltop"></div>
    <h1 id="site-title"><a href="./index.html" id="logo-link"><img class="img-rotate" id="title-logo" src="./resources/img/gls-logo-64px.webp"
                width="64" height="64" alt="title logo"></a> <a href="./index.html">Gentle Living Shop</a></h1>
    <h2>Discover tutorials & how-tos on how we create our natural handmade home, free access for
        all!❤</h2>
</header>
