<section class="toc orange">
  <div class="anchor" id="soapmaking"></div>
  <h2>🧼 Soapmaking 手工制皂 Zeep Maken</h2>
  <h3>🔤 Learn How to Make Natural Soap! Series</h3>
  <ul>
    <li><a href="https://gentlelivingshop.org/soap-guide-pdf.html">Introduction + PDF Download of Guide</a></li>
    <li><a href="https://gentlelivingshop.org/soap-guide-part-1-basics.html">Part 1: Soapmaking Basics</a></li>
    <li><a href="https://gentlelivingshop.org/soap-guide-part-2-recipes.html">Part 2: Creating Your Own Recipes</a></li>
    <li><a href="https://gentlelivingshop.org/soap-guide-part-3-tools-and-ingredients.html">Part 3: Safety Gear, Tools and Materials</a></li>
    <li><a href="https://gentlelivingshop.org/soap-guide-part-4-steps.html">Part 4: Step-by-Step Cold Process Soapmaking</a></li>
    <li><a href="https://gentlelivingshop.org/soap-guide-part-5-our-recipes.html">Part 5: A Few of Our Soap Recipes for Inspiration</a></li>
    <li><a href="https://gentlelivingshop.org/soapmaking-terms-and-definitions.html">Soapmaking Terms and Definitions</a></li>
  </ul>
  <h3>🧼 Cold-Process Soap</h3>
  <ul>
    <li><a href="https://gentlelivingshop.org/soap-tutorial-peppermint-red-caly.html">Make Peppermint Red Clay Cold-Process Soap (Mighty Mint)</a></li>
  </ul>
  <h3>🧴 Liquid Soap</h3>
  <ul>
    <li><a href="https://gentlelivingshop.org/liquid-soap-tutorial.html">Make Liquid Soap At Home Without a Stick Blender (recipe building and tutorial)</a></li>
  </ul>
</section>
<hr class="hr-dotted width-ten">
<div class="anchor" id="sewing"></div>
<section class="toc yellow">
  <h2>🪡 Sewing 縫紉 Naaien</h2>
  <ul>
    <li>👕</li>
    <ul>
      <li><a href="https://gentlelivingshop.org/2-seam-tshirt-sewing-guide.html">Easy 2-Seam T-shirt Sewing and Pattern Making Guide – No Sewing Machine Needed</a></li>
      <ul>
        <li><a href="https://gentlelivingshop.org/zh/hanfu-tshirt-sewing-guide.html">漢服短袖T恤剪裁製作教學 – 可不用縫紉機</a></li>
      </ul>
      <li><a href="https://gentlelivingshop.org/upcycled-muscle-tank.html">Upcycled Muscle Tank {from fabric scraps} | Sewing Sesh 🧵</a></li>
    </ul>
  </ul>
  <ul>
    <li>👖</li>
    <ul>
      <li><a href="https://gentlelivingshop.org/sew-versatile-bow-tie-pants.html">Versatile Bow Tie Pants Sewing & Pattern-Making Tutorial</a></li>
    </ul>
  </ul>
  <ul>
    <li>🎒</li>
    <ul>
      <li><a href="https://gentlelivingshop.org/sew-canvas-backpack.html">Sew a Canvas Backpack from Scratch (Tutorial + Pattern)</a></li>
    </ul>
  </ul>
</section>
<hr class="hr-dotted width-ten">
<section class="toc mintgreen">
  <div class="anchor" id="homemaking"></div>
  <h2>🛖 Homemaking 持家必備 Huishouden 🧹</h2>
  <ul>
    <li><a href="https://gentlelivingshop.org/waxed-canvas-diy.html">Wax Canvas at Home with soy wax (DIY Waxed Canvas)</a></li>
    <li><a href="https://gentlelivingshop.org/make-washing-soda.html">Make Washing Soda/Soda Ash from Baking Soda (for fabric scouring)</a></li>
    <ul>
      <li><a href="https://gentlelivingshop.org/zh/make-washing-soda.html">如何把小蘇打（碳酸氢钠）變成純鹼（碳酸鈉/食用鹼/洗滌鹼/鹼麵）</a></li>
    </ul>
    <li><a href="https://gentlelivingshop.org/scour-fabric.html">How to Scour Cotton Canvas Fabric (Cellulose Fibres)</a></li>
  </ul>
</section>
<hr class="hr-dotted width-ten">

<section class="toc turquoise">
  <div class="anchor" id="crochet"></div>
  <h2>🧶 Crochet 鈎針編織 Haken</h2>
  <ul>
    <li><a href="https://gentlelivingshop.org/crochet-bean-bag.html">Crochet Bean Bags for Outdoor Play | Easy Tunisian Crochet Pattern</a></li>
  </ul>
</section>
<hr class="hr-dotted width-ten">

<section class="toc blue">
  <div class="anchor" id="digital-life"></div>
  <h2>💻 Digital Life 網路生活 Digitaal Leven</h2>
  <h3>🌐 Website Design 網頁設計 Website Ontwerp</h3>
  <ul>
    <li><a href="https://gentlelivingshop.org/technologies-we-use.html">🆓 Technologies We Use for Web Design and Video Editing</a></li>
    <li><a href="https://gentlelivingshop.org/old-website.html">Privacy Respecting and Fun WordPress.org Plugins on Our Old Website</a></li>
    <li><a href="https://gentlelivingshop.org/css-scroll-to-top-button.html">Scroll to Top Button (HTML and CSS Only)</a></li>
    <li><a href="https://gentlelivingshop.org/making-this-website">How we made this website (using only HTML and CSS)</a></li>
  </ul>
  <h3>🆓 Open Source is Freedom! 自由+開源！ Open Source Vrijheid</h3>
  <ul>
    <li><a href="https://gentlelivingshop.org/foss-android-apps.html">Our favourite free and open source Android apps (F-droid)</a></li>
    <li><a href="https://gentlelivingshop.org/bye-youtube-hello-peertube.html">Bye YouTube, Hello PeerTube 📺 (no ads, decentralised, privacy-friendly!)</a></li>
  </ul>
</section>
<hr class="hr-dotted width-ten">

<section class="toc purple">
  <div class="anchor" id="lifestyle"></div>
  <h2>🍃 Lifestyle 生活點滴 Levensstijl</h2>

  <ul>
    <li>🌱 Veganism Veganisme</li>
    <ul>
      <li><a href="https://gentlelivingshop.org/why-vegan.html">Why we choose to be vegan 🐷</a></li>
    </ul>
  </ul>
</section>
