.kitty-jamba-game{
  width: 100%;
  height: 250px;
  border: 2px solid black;
  background: #889ddf;
  position: relative;
  overflow: hidden;
}
.kitty-jamba-game > *{
  position: absolute;
}

/*game elements*/
#kitty{
  width: 60px;
  height: 50px;
  background-image:url(../img/games-cat.gif);
  background-size: 60px 50px;
  z-index: 1;
  top: 155px;
  left: 80px;
}

#kitty-extended{
  width: 60px;
  height:  200px;
  background-image:url(../img/games-cat-extended.webp);
  background-size: 60px 200px;
  z-index: 2;
  top: 10000px;
  left: 80px;
}

#star{
  height: 50px;
  width: 50px;
  background-image:url(../img/games-star.webp);
  background-size: 50px 50px;
  top: 166px;
  animation: star-flying 3s infinite linear;
  z-index: 4;
}
#cloud{
  width: 300%;
  height: 50px;
  background-image:url(../img/games-cloud.webp);
  background-size: 580px 50px;
  z-index: 3;
  top: 200px;
  animation: cloud-scrolling 5s infinite linear;
}

/*checkboxes*/
label[id*="box"]{
  width: 100%;
  height: 100%;
  z-index: 5;
}
input, #no-jump-box1, #no-jump-box2, #game-start-text, #game-over-text{
  top: -10000px;
  z-index: 7;
}

#good-jump-box{
  animation: good-jump-box 3s linear infinite;
  z-index: 6;
}

.transparent{
  opacity:0;
}
.game-start-screen{
    background: linear-gradient(45deg, rgba(224,144,144,.66), rgba(224,187,144,.66), rgba(224,218,144,.66), rgba(170,224,144,.66), rgba(144,224,195,.66), rgba(144,199,224,.66), rgba(144,161,224,.66));
    color: white;
}
#game-start-box-transparent{
  z-index: 8;
}

/*text*/
div[id*="text"]{
  font-size: 140%;
  color: white;
  left: 10%;
  font-family: boopasblobs;
}

/*CHECKBOX INTERACTIONS*/

/*standard jump*/
#standard-jump:checked ~ #kitty-extended{
  animation: jump1 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}
#standard-jump:not(:checked) ~ #kitty-extended {
  animation: jump2 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}
#standard-jump:checked ~ #no-jump-box2{
  animation: still1 0.6s linear;
}
#standard-jump:not(:checked) ~ #no-jump-box2{
  animation: still2 0.6s linear;
}

/*good jump*/
#good-jump:checked ~ #kitty {
  animation: jump1 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}
#good-jump:not(:checked) ~ #kitty {
  counter-increment: section;
  animation: jump2 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}
#good-jump:checked ~ #no-jump-box1{
  animation: still1 0.6s linear;
}
#good-jump:not(:checked) ~ #no-jump-box1{
  animation: still2 0.6s linear;
}

/*good jump start screen*/
#good-jump:checked ~ #game-start-box, #good-jump:checked ~ #game-start-box-transparent{
  animation: away1 3.5s linear;
}
#good-jump:not(:checked) ~ #game-start-box, #good-jump:not(:checked) ~ #game-start-box-transparent{
  animation: away2 3.5s linear;
}
#good-jump:checked ~ #game-over-text{
  animation: still1 3s forwards linear;
  animation-delay: 3.5s;
}
#good-jump:not(:checked) ~ #game-over-text {
  animation: still2 3s forwards linear;
  animation-delay: 3.5s;
}

/*game start*/
#game-start-transparent:not(:checked) ~ #game-start-box, #game-start-transparent:not(:checked) ~ #game-start-box-transparent, #game-start-transparent:not(:checked) ~ #game-start-text{
  animation: still1 0.2s forwards linear;
}
#game-start-transparent:not(:checked) ~ #game-over-text{
  animation: away1 0.2s forwards linear;
}

/*score count*/
.score-digit{
  z-index: 20;
  text-align: center;
  font-size: 20px;
  font-family: BoopasBlobs;
  position: absolute;
}
#scores-singles{
  left: 30px;
  animation: score-digit 30s infinite linear;
}
#scores-doubles{
  left: 60px;
  top: -10000px;
  animation: score-digit 10s infinite linear;
  animation-delay: 30s;
}
.score-box{
  position: relative;
  top: 20px;
  right: 20px;
  height: 27px;
  width: 200px;
  background: red;
  overflow: hidden;
}

/*animation*/
@keyframes star-flying{
  0%{
    transform: rotate(0deg);
    left: 900px;
  }
  100%{
    transform: rotate(200deg);
    left: -100px;
  }
}
@keyframes cloud-scrolling{
  0%{
    left: 0px;
  }
  100%{
    left: -580px;
  }
}
@keyframes jump1{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }
}
@keyframes jump2{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }
}
@keyframes still1{
  0%{
    top: 0px;
  }
  100%{
    top: 0px;
  }
}
@keyframes still2{
  0%{
    top: 0px;
  }
  100%{
    top: 0px;
  }
}
@keyframes good-jump-box{
  0%{
    left: -10000px;
  }
  63.99999%{
    left: -10000px;
  }
  64%{
    left: 0px;
  }
  76.99999%{
    left: 0px;
  }
  77%{
    left: -100000px;
  }

  100%{
    left: -10000px;
  }
}
@keyframes away1{
  0%{
    top: -10000px;
  }
  100%{
    top: -10000px;
  }
}
@keyframes away2{
  0%{
    top: -10000px;
  }
  100%{
    top: -10000px;
  }
}
@keyframes score-digit{
  0%{
    top: 0px;
  }
  9.99999%{
    top: 0px;
  }
  10%{
    top: -27px;
  }
  19.99999%{
    top: -27px;
  }
  20%{
    top: -54px;
  }
  29.99999%{
    top: -54px;
  }
  30%{
    top: -81px;
  }
  39.99999%{
    top: -81px;
  }
  40%{
    top: -108px;
  }
  49.99999%{
    top: -108px;
  }
  50%{
    top: -135px;
  }
  59.99999%{
    top: -135px;
  }
  60%{
    top: -162px;
  }
  69.99999%{
    top: -162px;
  }
  70%{
    top: -189px;
  }
  79.99999%{
    top: -189px;
  }
  80%{
    top: -216px;
  }
  89.99999%{
    top: -216px;
  }
  90%{
    top: -243px;
  }
  99.99999%{
    top: -243px;
  }
  100%{
    top: -270px;
  }
}
