.dino-game{
  width: 100%;
  height: 250px;
  border: 2px solid black;
  background: #889ddf;
  position: relative;
  overflow: hidden;
}
.score-box{
  width: 200px;
  height: 30px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 0px;
}
.score-digit{

  display: grid;
  grid-template-rows: 34px;
  grid-template-columns: 34px;
  grid-row-gap: 0px;
  padding-top: 34px;
}
.score-digit p{
  padding: 0;
  margin: 0;
}
#scores-singles{
  /*animation: scores-singles 10s infinite linear;*/
  font-size: 25px;
  color: white;
  position: absolute;
  font-family: boopasblobs;
  left: 150px;
}
#scores-doubles{
  /*animation: scores-singles 100s infinite linear;*/
  font-size: 25px;
  color: white;
  position: absolute;
  font-family: boopasblobs;
  left: 125px;
}
#scores-triples{
  /*animation: scores-singles 1000s infinite linear;*/
  font-size: 25px;
  color: white;
  position: absolute;
  left: 100px;
  font-family: boopasblobs;
}
#scores-quadruples{
  /*animation: scores-singles 10000s infinite linear;*/
  font-size: 25px;
  color: white;
  position: absolute;
  left: 75px;
  font-family: boopasblobs;
}
#scores-quintet{
  /*animation: scores-singles 100000s infinite linear;*/
  font-size: 25px;
  color: white;
  position: absolute;
  left: 50px;
  font-family: boopasblobs;
}
#block-scores{
  background: #889ddf;
  width: 100%;
  height: 100%;
  right: 25px;
  position: absolute;
  z-index: 2;
  animation: block-scores 30000s linear forwards;
}


@keyframes scores-singles{
  0%{
    top: -30px;
  }
  9.99999%{
    top: -30px;
  }
  10%{
    top: -64px;
  }
  19.99999%{
    top: -64px;
  }
  20%{
    top: -98px;
  }
  29.99999%{
    top: -98px;
  }
  30%{
    top: -132px;
  }
  39.99999%{
    top: -132px;
  }
  40%{
    top: -166px;
  }
  49.99999%{
    top: -166px;
  }
  50%{
    top: -200px;
  }
  59.99999%{
    top: -200px;
  }
  60%{
    top: -234px;
  }
  69.99999%{
    top: -234px;
  }
  70%{
    top: -268px;
  }
  79.99999%{
    top: -268px;
  }
  80%{
    top: -302px;
  }
  89.99999%{
    top: -302px;
  }
  90%{
    top: -336px;
  }
  99.99999%{
    top: -336px;
  }
  100%{
    top: -370px;
  }
}
/*game elements*/
#kitty{
  width: 60px;
  height: 50px;
  top: 155px;
  left: 80px;
  position: absolute;
  background-image:url(../img/games-cat.gif);
  background-size: 60px 50px;
  z-index: 2;
}
#kitty-extended{
  width: 60px;
  height: 200px;
  top: 10000px;
  left: 80px;
  position: absolute;
  background-image:url(../img/games-cat-extended.webp);
  background-size: 60px 200px;
  z-index: 1;
}
#star{
  height: 50px;
  width: 50px;
  background-image:url(../img/games-star.webp);
  background-size: 50px 50px;
  position: absolute;
  top: 166px;
  left: 700px;
  animation: star-flying 3s infinite linear;
  z-index: 3;
}
#star1{
  height: 10px;
  width: 10px;
  background-image:url(../img/games-star.webp);
  background-size: 10px 10px;
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 1;
  animation: star1 12s infinite linear;
}
@keyframes star1{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes star-flying{
  0%{
    transform: rotate(0deg);
    left: 900px;
  }
  100%{
    transform: rotate(200deg);
    left: -100px;
  }
}
#cloud{
  width: 400%;
  height: 50px;
  position: absolute;
  top: 200px;
  background-image:url(../img/games-cloud.webp);
  background-size: auto 50px;
  z-index: 1;
  animation: cloud-scrolling 5s infinite linear;
}
@keyframes cloud-scrolling{
  0%{
    left: 0px;
  }
  100%{
    left: -580px;
  }
}
/*jumping boxes and their checkboxes*/
.standard-jump-box{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: rgb(255, 0, 0, 0.5);
}
#standard-jump{
  left: -10000px;
  position: absolute;
}
.good-jump-box{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
  animation: good-jump-window 3s linear infinite;
  background: rgb(0, 255, 0, 0.5);
}
#good-jump{
  left:-10000px;
  position: absolute;
}
.no-jump-box{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 7;
  background: rgb(0, 0, 255, 0.5);
  left: -10000px;
  /*animation: no-jump-window 0.6s forwards linear;*/
}
#in-the-air{
  left:-10000px;
  position: absolute;
}
.no-jump-box-standard{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 7;
  /*background: rgb(0, 0, 255, 0.5);*/
  left: -10000px;
  /*animation: no-jump-window 0.6s forwards linear;*/
}
#in-the-air-s{
  left:-10000px;
  position: absolute;
}


.game-start-screen{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(45deg, rgba(224,144,144,.66), rgba(224,187,144,.66), rgba(224,218,144,.66), rgba(170,224,144,.66), rgba(144,224,195,.66), rgba(144,199,224,.66), rgba(144,161,224,.66));

  color: white;
  /*animation: no-jump-window 0.6s forwards linear;*/
}
#game-start{
  left:-10000px;
  position: absolute;
}
.game-start-screen-opacity{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: rgb(0, 0, 0, 0.9);
  opacity: 0;
  color: white;
  /*animation: no-jump-window 0.6s forwards linear;*/
}
#game-start-opacity{
  left:-10000px;
  position: absolute;
}
/*game over box*/
#poky{
  font-size: 140%;
  color: white;
  position: relative;
  left: 10%;
  top: 50%;
  font-family: boopasblobs;
}
#game-over-text{
  font-size: 140%;
  color: white;
  position: absolute;
  left: 10%;
  top: 20%;
  font-family: boopasblobs;
  z-index: 9;
  user-select: none;
}
#game-start-text{
  font-size: 140%;
  color: white;
  position: absolute;
  left: 10%;
  top: 20%;
  font-family: boopasblobs;
  z-index: 9;
  user-select: none;
  animation: game-over-screen-start 0.2s forwards linear;
}
/*interaction by checking boxes*/
/*game-start*/
#game-start-opacity:checked ~ div #scores-singles{
  animation: scores-singles 30s infinite linear;

}
#game-start-opacity:checked ~ div #scores-doubles{
  animation: scores-singles 300s infinite linear;
  animation-delay: 30s;
}
#game-start-opacity:checked ~ div #scores-triples{
  animation: scores-singles 3000s infinite linear;
  animation-delay: 300s;
}
#game-start-opacity:checked ~ div #scores-quadruples{
  animation: scores-singles 30000s infinite linear;
  animation-delay: 3000s;
}
#game-start-opacity:checked ~ div #scores-quintet{
  animation: scores-singles 300000s infinite linear;
  animation-delay: 30000s;
}

/*standard jump*/
#standard-jump:checked ~ #kitty-extended{
  animation: jump-extended 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}
#standard-jump:not(:checked) ~ #kitty-extended {
  animation: jump-extended2 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}

#standard-jump:checked ~ .no-jump-box-standard{
  animation: no-jump-window 0.6s forwards linear;
}
#standard-jump:not(:checked) ~ .no-jump-box-standard {
  animation: no-jump-window2 0.6s forwards linear;
}
/*good jump*/
#good-jump:checked ~ #kitty {
  counter-increment: section;
  animation: jump 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}
#good-jump:not(:checked) ~ #kitty {
  counter-increment: section;
  animation: jump2 0.6s cubic-bezier(0.21, 0.5, 0, 0.85);
}
#good-jump:checked ~ .no-jump-box{
  animation: no-jump-window 0.6s forwards linear;
}
#good-jump:not(:checked) ~ .no-jump-box {
  animation: no-jump-window2 0.6s forwards linear;
}
#good-jump:checked ~ .game-start-screen{
  animation: game-over-hit 4.2s forwards linear;
}
#good-jump:not(:checked) ~ .game-start-screen {
  animation: game-over-hit2 4.2s forwards linear;
}
#good-jump:checked ~ .game-start-screen-opacity{
  animation: game-over-hit 4.2s forwards linear;
}
#good-jump:not(:checked) ~ .game-start-screen-opacity {
  animation: game-over-hit2 4.2s forwards linear;
}
#good-jump:checked ~ #game-over-text{
  animation: game-over-text 4.2s forwards linear;
}
#good-jump:not(:checked) ~ #game-over-text {
  animation: game-over-text2 4.2s forwards linear;
}
#good-jump:checked ~ div #block-scores{
  animation: game-over-text 4.2s forwards linear;
}
#good-jump:not(:checked) ~ div #block-scores {
  animation: game-over-text2 4.2s forwards linear;
}


#game-start-opacity:not(:checked) ~ .game-start-screen{
  animation: game-start-screen-start 0.2s forwards linear;
}
#game-start-opacity:not(:checked) ~ .game-start-screen-opacity{
  animation: game-start-screen-start-opacity 0.2s forwards linear;
}
#game-start-opacity:not(:checked) ~ #game-over-text{
  animation: game-over-screen-start 0.2s forwards linear;
}
#game-start-opacity:not(:checked) ~ div #block-scores{
  animation: game-over-screen-start 0.2s forwards linear;
}
#game-start-opacity:not(:checked) ~ #game-start-text{
  animation: no-animation 0.2s forwards linear;
}
#game-start-opacity:not(:checked) ~ #scores-singles{
  animation: scores-singles 10s infinite linear;
}



/*functionality*/
.visible{
  visibility: visible;
}
/*other animations*/
@keyframes game-start-screen-start{
  0%{
    left: 20px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }

}

@keyframes jump{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }

}

@keyframes jump2{
  0%{
    top: 155px;
  }
  50%{
    top: 55px;
  }
  100%{
    top: 155px;
  }
}
@keyframes jump-extended{
  0%{
    top: 10000px;
  }
  0.1%{
    top:155px
  }
  50%{
    top: 55px;
  }
  99.9%{
    top: 155px;
  }
  100%{
    top: 10000px;
  }
}

@keyframes jump-extended2{
  0%{
    top: 10000px;
  }
  0.1%{
    top:155px
  }
  50%{
    top: 55px;
  }
  99.9%{
    top: 155px;
  }
  100%{
    top: 10000px;
  }
}

@keyframes no-jump-window{
  0%{
    left: -10000px;
  }
  0.0001%{
    left: 0px;
  }
  99.9999%{
    left: 0px;
  }

  100%{
    left: -10000px;
  }
}
@keyframes no-jump-window2{
  0%{
    left: -10000px;
  }
  1%{
    left: 0px;
  }
  99%{
    left: 0px;
  }

  100%{
    left: -10000px;
  }
}
@keyframes game-start-screen-start{
  0%{
    left: 0px;
  }
  50%{
    left:0px;
  }
  100%{
    left:0px;
  }
}
@keyframes game-start-screen-start-opacity{
  0%{
    left: 0px;
  }
  50%{
    left:50px;
  }
  100%{
    left:0px;
  }
}
@keyframes good-jump-window{
  0%{
    left: -10000px;
  }
  53.99999%{
    left: -10000px;
  }
  54%{
    left: 0px;
  }
  77.99999%{
    left: 0px;
  }
  78%{
    left: -100000px;
  }

  100%{
    left: -10000px;
  }
}
@keyframes game-over-hit{
  0%{
    left: -10000px;
  }
  79%{
    left: -10000px;
  }
  80%{
    left: 0px;
  }
  100%{
    left: 0px;
  }
}
@keyframes game-over-hit2{
  0%{
    left: -10000px;
  }
  79%{
    left: -10000px;
  }
  80%{
    left: 0px;
  }
  100%{
    left: 0px;
  }
}
@keyframes game-over-text{
  0%{
    left: -10000px;
  }
  79%{
    left: -10000px;
  }
  80%{
    left: 50px;
  }
  100%{
    left: 50px;
  }
}
@keyframes game-over-text2{
  0%{
    left: -10000px;
  }
  79%{
    left: -10000px;
  }
  80%{
    left: 50px;
  }
  100%{
    left: 50px;
  }
}
@keyframes game-over-screen-start{
  0%{
    left: -10000px;
  }
  79%{
    left: -10000px;
  }
  80%{
    left: -10000px;
  }
  100%{
    left: -10000px;
  }
}
