/*mobile menu button responsive*/
/*mobile menu 'hamburger' button + "menu" text*/
#menubutton {background: #64a5fa; border-radius: 50%;box-shadow:0 0 0 5px rgb(191, 247, 191),0 0 0 15px #599ffa; color: rgb(0, 0, 0); display: none; font-family: boopasblobs; font-size: 120%; font-weight: bold; height: 16px; margin: auto; position: fixed; right: 30px; text-indent: -2px; text-shadow: 2px 2px 2px #e7f5dc; top: 30px; width: 16px;}
#menu-btn {display: none; height: 50px; margin: auto; position: fixed; right: 20px; top: 20px; width: 50px;}


@media only screen and (max-width: 480px) {
  #menubutton {display: block; z-index: 899;}
  #menu-btn {display: block; opacity: 0.01; z-index: 900;}
  #menu-btn:checked ~ #mainnav,
  #menu-btn:checked ~ #mainnav ul li ul {opacity: 1; visibility: visible;}
}
