@font-face { font-family: BoopasBlobs; src: url(../fonts/BoopasBlobs2.0-Regular.otf); }

* {
    font-family: BoopasBlobs;
}

h1 {
    color: SeaGreen;
}

body {
    background-color: lightgreen;
}

.site-header {
    margin: 0% 10%;
}
