/*main & margins*/
html{scroll-behavior: smooth;}
body{background: #bae7c0; bottom: 0; margin-top: 56px;}
main{font-size: 120%; margin: auto; width:70%;}
aside{width: 80%;margin: auto;}
@media only screen and (min-width: 1280px) {
  main{margin: auto;width: 896px;}
}
@media (max-width: 800px) {
  body {margin-left: 2px; margin-right: 2px; margin-top: 60px;}
  main {margin: auto; width: 90%;}
  aside{width: 96%;margin: auto;}
}
@media only screen and (max-width: 480px) {
  body {margin: auto;margin-top: 20px;}
}
hr, .hr-dotted,.hr-spacer, .iframe-container, .iframe-container-16-9{
  margin-top: 20px;
}
/*text*/
@font-face { src: url(../fonts/Boopas-Blobs-3.0-Regular.woff) format('woff'); font-display: swap;font-family: BoopasBlobs; font-style: normal; font-weight: normal;}
@font-face { src: url(../fonts/nunito-regular-webfont.woff) format('woff'); font-display: swap;font-family: Nunito;}
@font-face { src: url(../fonts/nunito-bold-webfont.woff); font-display: swap;font-family: Nunito; font-weight: bold;}
@font-face { src: url(../fonts/nunito-italic-webfont.woff); font-display: swap;font-family: Nunito; font-style: italic;}
@font-face { src: url(../fonts/nunito-bolditalic-webfont.woff); font-display: swap;font-family: Nunito; font-style: italic; font-weight: bold;}
@font-face { src: url(../fonts/jf-openhuninn-11.woff); font-display: swap;font-family: jf-openhuninn; unicode-range: U+4E00–9FFF;}
body {font-family: Nunito, BoopasBlobs, sans-serif;}
h1, h2, h3, h4, h5, h6, blockquote, #foot, #mainnav {font-family: BoopasBlobs, Nunito, sans-serif;}
:lang(zh){font-family: BoopasBlobs, jf-openhuninn, sans-serif!important;}

h1{font-size: 36px;text-shadow: 2px 2px 2px #c4a2f0;} h2{font-size: 34px;text-shadow: 2px 2px 2px #a2f0dc;} h3{ font-size: 30px;text-shadow: 2px 2px 2px lightyellow;} h4{font-size: 22px;text-shadow: 2px 2px 2px lightpink;} h5{font-size: 20px;text-shadow: 1px 1px 1px lightblue;} h6{font-size: 16px;text-shadow: 1px 1px 1px lightgreen;}
@media (max-width:800px){
  h1{font-size: 34px;} h2{font-size: 30px;} h3{font-size: 24px;} h4{font-size: 20px;} h5{font-size: 18px;}
}
@media (max-width:480px){
  h1{font-size: 30px;} h2{font-size: 26px;} h3{font-size: 22px;} h4{font-size: 20px;} h5{font-size: 18px;}
}
p{text-align: justify;}
li{text-align: left}
dt{font-weight: bold;}
dd{font-size: 1rem; margin-bottom: 1em;}
a:visited {color: mediumslateblue;}
figcaption a{color: white!important;}
figcaption{background-color: #2d5215; color: #fff; font: italic sans-serif; font-variant: small-caps; opacity: 0.72; padding: 3px; text-align: center;}
pre{background: rgb(255,251,198);font-size: 18px; overflow: auto;padding: 10px;text-align: center;}

.text-justify{text-align: justify;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-white{color:white;}
.text-white a, .text-white li a {color: white;}
.text-black a, .text-black p a  {color: black!important}
.text-mediumblue, .text-mediumblue a, .text-mediumblue li a{color: mediumblue!important}
.text-shadow-none, .text-shadow-none h4, .text-shadow-none h3{text-shadow: 0 0 0 #fff;}
.text-decoration-none, .text-decoration-none a{text-decoration: none;}
.cursor-pointer{cursor: pointer;}
.font-bold{font-weight: bold;}
.border-dash{border-style: dashed!important;}
.extra-padding-2px img{padding: 2px;}
.extra-padding-2px {padding: 2px;}
.extra-padding{padding: 6px;}
.extra-padding img{padding-bottom: 10px}
.h3-text-left h3{text-align: left;}
.line-higher{line-height: 200%}
.long-link{overflow: auto;text-align: left;word-break: break-all;}
.width-fit-content{width: fit-content;}
.dropcap::first-letter{float: left; font-size: 260%; width: .7em;padding-right: 6px;}
.pre-code{background: content-box radial-gradient(darkolivegreen,darkslategray); padding:0px; border-radius: 10px; color: white; display: block; font-size: 96%; margin: 0px 0px 0px 0px; margin-left: auto; margin-right: auto; max-height: 300px; max-width: 500px; min-height: min-content; min-width: 20px; overflow: auto; text-align:left;}
figcaption a:hover{text-shadow: lightblue 1px 0 6px !important; color: inherit !important;}
.list-style-none{list-style-type: none;}
.margin-zero{margin: 0;}

#contact-videos p {text-align: center!important;}

/*tables & details*/
/*.tables{width: 120%;margin-left: 0;margin-right: 0;}*/
table{border-collapse: collapse; min-width: 300px; margin-left: auto;margin-right: auto;}
td, th{border:1px solid black; padding: 10px;}
thead{background: #daffda!important}
tbody th {background: #daffda;}
td{background: rgb(198,255,202)}
details summary {cursor: pointer;}
details summary > * {display: inline;}
@media (max-height:1000px){.mobile-table-height {height: 500px}}
/*lists*/

/*colors*/
.red{background: #f6d0d0}
.orange{background: #f1d7ba}
.yellow{background: #f0ebb1;}
.green{background: #d9eea3}
.turquoise{background: #bcf5eb}
.pink{background: #e9d9ec;}
.purple{background: #d4d6f5;}
.black{background: black;}
.blue{background: #B9E8FF}
.thistle{background: rgba(230,220,233,.85)}
.babypink{background: #e4cccc}
.darkblue{background: #005DAE}
.darkcornflowerblue{background: #3A4986}
.darkgreen{background: #3A8751}
.chestnut{background: #87483A}
.darkpurple{background: #3A4387}
.mintgreen{background: #b1facf}
.white{background: white}
.black {background: white}
.opacity-60{opacity: 0.6}

.brighter{filter: brightness(120%)}

a[href^="http"]{color: mediumblue}
a[href^="http"]:after{content: url("https://gentlelivingshop.org/resources/img/external.png");margin: 0 2px 0 2px;white-space: nowrap}
a[href^="https://gentlelivingshop.org"]:after{content:none;);}
.gradient-green-pink{background: linear-gradient(120deg,rgb(209,250,242) 0%,rgb(230,219,251) 100%)}
.gradient-gold-blue{background: linear-gradient(120deg,#FCFBC9 0%,#7edfd8 100%)}

/*centering, grid, flex*/
.flex-center {display: flex; flex-direction: column; justify-content: center;}
.margin-center{display: block; margin-left: auto; margin-right: auto;}
.align-center{align-items: center;}
.vertical-bottom{vertical-align: bottom;}
.display-flex{ column-gap: 4px;display: flex;}
.display-inline-block{display: inline-block;}
.display-inline {display: inline;}
.display-grid{display: grid; margin-left: auto;margin-right: auto;}
.two-columns{grid-gap: 4px; grid-template-columns: 1fr 1fr;}
.two-columns-left-big{grid-gap: 4px; grid-template-columns: 1.6fr 1fr;}
.three-columns{ grid-gap: 4px; grid-template-columns: 1fr 1fr 1fr;}
.overflow-auto{overflow: auto;}

/*BLOCKS*/
/*Navigation*/
.toc{border-radius: 26px; margin-left: auto; margin-right: auto; max-width: 70%; min-width: fit-content; padding: 16px;}
.toc h2, .toc h3{text-align: center;}
.toc a{color: black;}
.small-toc{border-radius: 26px; margin-left: auto; margin-right: auto; max-width: 70%; min-width: fit-content; padding: 8px;}
.small-toc h2, .small-toc h3{text-align: center; padding: 0px; margin: 2px;}
.small-toc a{color: black;}
.toc-list {display: table; line-height: 40px; margin: 0 auto;padding-bottom: 10px;}
.box-list-center{display: table; margin: 0 auto; padding-bottom: 10px;}
@media (max-width: 800px){
  .toc {padding: 6px;max-width: 92%}
  .toc a{color: black; font-size: 100%;}
  .toc-list {display: table;line-height: 26px; margin: 0 auto;}
}
.anchor {display: block; height: 60px; margin-top: -60px; visibility: hidden;}
@media (max-width: 480px) {
  .anchor {display: block; height: 15px; margin-top: -15px; visibility: hidden;}
}

/*spacers & borders*/
.hr-dotted {border: none;border-top: 12px dotted black;width: 16%; overflow: visible; text-align: center; height: 6px; margin-top: 26px; padding-bottom: 10px;}
.hr-spacer {visibility: hidden;}
.halfwidth{width: 50%;}
.hr-sun{border: none; border-top: 12px double #333; color: #333; overflow: visible; text-align: center; height: 6px; margin-top: 26px; padding-bottom: 10px;}
.hr-sun:after {background: #bae7c0; content: '☀'; font-size: 180%; padding:0 16px; position: relative; top: -29px;}
.hr-dotted-small{border: none; border-top: 8px dotted #333; color: #333; overflow: visible; text-align: center; height: 6px; margin-top: 26px; padding-bottom: 10px;}
.width-twenty{width: 20%;}
.width-ten{width: 10%;}

.round-border{border-radius: 26% 12%;}
.half-circle-border{border-radius:9999px;}
.circle-border{border-radius: 50%}
.slight-circle-border{border-radius: 10%;}
.cute-border{border-radius: 26px;}

/*sections*/
.section-box{border-color: black; border-radius: 26px; border-style: solid; border-width: 1px; margin-left: auto; margin-right: auto; max-width: 70%; min-width: fit-content; padding: 20px; text-align: justify; width: fit-content;}
.recipe-box{border-radius: 26px; border-width: 2px; margin-left: auto; margin-right: auto; max-width: 100%; min-width: fit-content; padding: 20px; text-align: justify; width: fit-content;}
.small-box{border-radius: 26px; border-width: 2px; margin-left: auto; margin-right: auto; max-width: 750px; padding: 10px; text-align: justify; width: fit-content;}
.section-box h2{text-align: center;}
.blockquote{height: auto; padding: 6px; text-align: center; transition: padding 1s ease;}
.blockquote a{color: black;}
.blockquote:hover{font-size: 100%; padding: 10px;}
blockquote {padding: 10px;}
.block-no-expand:hover{padding:6px;}
.random-box{border-radius: 26px; margin-left: auto; margin-right: auto; padding: 10px; width: fit-content;}
.align-wide{left:-10%;max-width:110%;position: relative;}

#soap-links a {color: #000000;}

/*multimedia*/
.music {display: flex; justify-content: center; text-align: center;}
.poem-box{background:#fffbc6;width: fit-content; margin-left: auto;margin-right: auto; border-radius: 26px; box-shadow: 6px 6px 3px #90e1a0;overflow: auto;overflow: auto;max-width: 500px;}
.poem-box h5 {padding: 10px;}
.poem-big-box{background:#fffbc6;width: fit-content; margin-left: auto;margin-right: auto; border-radius: 26px; box-shadow: 6px 6px 3px #90e1a0;overflow: auto;overflow: auto;max-width: 600px;}
.poem-big-box h5{padding: 10px;}
@media(max-width: 466px){.poem{text-align: left;}.poem-big-box{min-width: 88vw; max-width: 88vw;}.poem-box{min-width: 80vw; max-width: 80vw;}}
.poem{font-family: BoopasBlobs; padding-top: 0px;margin-top: 0px; font-size: 16px;}
.poem-big-box img {width: 100%;margin-left:auto;margin-right:auto;}
.poem-box img {width: 100%;margin-left:auto;margin-right:auto;}
.poem-title{margin: 0; text-align: center; font-family: BoopasBlobs; padding-bottom: 10px;display: inline-block;}
.poem-archive{padding: 0px 26px 16px 0px; font-family: BoopasBlobs;font-size: 16px;}
.post-thumbnail {display: block; height: auto; margin-left: auto; margin-right: auto; max-width: 100%; width: auto;}
.img-border{box-shadow: 0 0 10px cornflowerblue;}
.img-responsive-large{display: block;height: auto; margin-left: auto; margin-right: auto; max-width: 800px;width: 100%;}
.img-responsive{display: block;height: auto; margin-left: auto; margin-right: auto; max-width: 600px;width: 100%;}
.img-responsive-80{ display: block;height: auto; margin-left: auto; margin-right: auto;width: 80%;}
.img-responsive-60{ display: block;height: auto; margin: center; margin-left: auto; margin-right: auto;width: 60%;}
.img-responsive-40{ display: block;height: auto; margin: center; margin-left: auto; margin-right: auto;width: 40%;}
.hover-rotate:hover{transform: rotate(15deg)}
.img-rotate{animation: spin 10s linear infinite;}
@keyframes spin {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}}
.img-rotate:hover {animation: spin2 0.2s linear infinite;}
@keyframes spin2 {0% {transform: rotate(0deg);} 100% {transform: rotate(-360deg);}}
.container-overflow{height: 800px; overflow: scroll; width: 100%;}
.iframe-container{overflow: hidden; padding-top: 62.5%; position: relative; width: 100%;}
.iframe-container-16-9{overflow: hidden; padding-top: 56.25%; position: relative; width: 100%;}
.responsive-iframe{bottom: 0; height: 100%; left: 0; position: absolute; right: 0; top: 0; width: 100%;}

.img-carousell{padding-top: 600px; position: relative; display: flex; flex-flow:row wrap; justify-content: center;}
.img-carousell > div > img{clear: both; height: 600px; max-height: 600px; width: auto; height: auto; display: none; position: absolute; left: 50%; top: 0;transform: translate(-50%); max-width: 100%;}
.img-carousell div label img{width: auto; max-height: 50px; max-width: 67px; padding-top: auto; padding-bottom: auto; display: block; margin: 10px; border-radius: 5px;}
.img-carousell div input{display: none;}
.img-carousell div input:checked ~ img{display: block;}
.img-carousell div input:checked ~ label img{box-shadow: 0 0 0 3px #3A4387;}
@media (max-width: 1200px){.img-carousell{padding-top: 500px;} .img-carousell > div > img{max-height: 500px;}} @media (max-width: 1000px){.img-carousell{padding-top: 400px;} .img-carousell > div > img{max-height: 400px;}}
@media (max-width: 600px){.img-carousell div label img{max-height: 45px; max-width: 61px;} .img-carousell div label img{margin: 5px; margin-top: 10px;}.img-carousell{padding-top: 350px;} .img-carousell > div > img{max-height: 350px;}}
@media (max-width: 525px){.img-carousell{padding-top: 300px;} .img-carousell > div > img{max-height: 300px;}}
@media (max-width: 450px){.img-carousell{padding-top: 275px;} .img-carousell > div > img{max-height: 275px;}}
@media (max-width: 410px){.img-carousell div label img{max-height: 40px; max-width: 54px;} .img-carousell{padding-top: 250px;} .img-carousell > div > img{max-height: 250px;}}
@media (max-width: 360px){.img-carousell{padding-top: 225px;} .img-carousell > div > img{max-height: 225px;}}
@media (max-width: 300px){.img-carousell{padding-top: 175px;} .img-carousell > div > img{max-height: 175px;}}

/*download button*/
.download-btn{background: #f6958a; border-radius: 16px; color:black; cursor: pointer; display: inline-block; filter: sepia(60%); font-family: boopasblobs; font-size: 30px; font-weight: bold; letter-spacing: 2px; padding: 10px;margin: 16px;}
.download-btn:hover{animation: gradient 16s ease infinite; background: linear-gradient(45deg, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1); background-size: 400% 400%; box-shadow: 0 0 12px 10px mintcream; filter: sepia(0%);}
.download-btn:focus {animation: gradient 10s ease infinite; background: linear-gradient(45deg, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1); background-size: 400% 400%; box-shadow: 0 0 12px 10px mintcream; filter: sepia(0%);}
@keyframes gradient {0% {background-position: 0% 50%;} 50% {background-position: 100% 50%;} 100% {background-position: 0% 50%;}}

/*horizontal nav bar*/
.horizontal-nav{list-style: none; text-align:center; background: #cff1d4; border:6px solid #c1eeeb; border-width:6px 0; padding: 10px 0px 10px 0px; font-family: boopasblobs; font-size: 120%;}
.horizontal-nav li {display: inline;text-shadow: #739bf2 1px 0 10px;}
.horizontal-nav a {display: inline-block; text-align: center; padding: 4px 20px 4px 20px; color: black; text-decoration: none; font-weight: bold; letter-spacing: 2px;}
@media (max-width:480px) {
  .horizontal-nav {display: flex; flex-direction: column; justify-content: center; align-items: center; width: 70%; min-width: 226px; margin-left: auto; margin-right: auto; overflow: auto;}
  .horizontal-nav a {align-self: flex-start;}}
#site-map li {padding-top: 4px; padding-bottom: 4px; line-height: 26px}

/*page specific blocks*/

/*find us here*/
.find-us-here{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; border-radius: 20px; padding-bottom: 20px; padding-top: 20px; justify-items: center;}
.find-us-here h4{padding: 0; margin: 0; padding-bottom: 8px;}
.find-us-here img{margin-right: 8px;}

/*HEADER & FOOTER*/

/*NEW HEADER*/
.header-menu{left: 0; right: 0; top: 0; position: fixed; z-index: 10000; display: grid; grid-template-columns: 1fr 160px 220px 160px 146px 1fr; grid-template-rows: 55px;background: #acdbf7}
.header-menu a, .header-menu div, .header-menu details, .header-menu details a{background: #acdbf7; text-align: center; vertical-align: middle; padding-top: 12px; font-size: 26px; font-family: BoopasBlobs, Nunito, jf-openhuninn, sans-serif; box-sizing: border-box;}
.header-menu details div{height: 55px;}
.header-menu details{padding-top: 0px;}
.header-menu details summary{height: 55px; padding-top: 8px; box-sizing: border-box;}
.header-menu a:hover, .header-menu a:focus, .header-menu details:hover, .header-menu details:focus, .header-menu details div:hover, .header-menu details div:focus{background: #e6f6ff;}
  #top-project-short,#lang-short{display: none;}

@media (max-width: 680px){
  #top-project-short,#lang-short{display: block;}
  #empty-header-filler, #empty-header-filler2, #top-project-long, #lang-long{display: none;}
  .header-menu{grid-template-columns: 25% 35% 25% 15%;}
}
@media (max-width: 480px){
  .header-menu{grid-template-rows: 45px;}
  #language-select-img{height: 26px;}
  .header-menu a, .header-menu div, .header-menu details, .header-menu details a{padding-top: 8px; font-size: 24px;}
  .header-menu details div{height: 45px;}
  .header-menu details{padding-top: 0px;}
  .header-menu details summary{height: 45px; padding-top: 6px;  list-style: none;}
}

/*header*/
#title-logo {border-radius: 50%; box-shadow: 0 0 4px #8892ec; position: relative; vertical-align: text-bottom;}
header h1 #logo-link:hover {border-radius: 50%; box-shadow: 0px 0px 80px #a388ec;}
header a {color: #000!important; text-decoration: none; text-shadow: 4px 4px 4px #8892ec;}
header h2 {font-size: 22px;margin-top: 0.5em!important;}
#site-title{ margin-bottom: 10px!important;margin-top: 10px;}
#site-title a{text-shadow: 0px 0px 2px #8892ec;}
a:hover {color: rgb(5, 81, 194) !important;}
.site-header {margin-left: 10px; margin-right: 10px;}

/*scroll to top button*/
.scroll-arrow {background: rgba(0, 0, 0, 0.46); border-radius: 50% 0 50% 50%; bottom: 26px; height: 36px; position: fixed; right: 26px; transform: rotate(-45deg); width: 36px;}
#scroll-text{bottom: 30px; color: white; font-family: boopasblobs; font-size: 20px; font-weight: bolder; position: fixed; right: 29px; text-decoration: none; text-shadow: 2px 2px 6px #c4a2f0; z-index: 1000;}
#scroll-text:hover{color: palegreen;}
#scroll-text-zh{bottom: 30px; color: white; font-family: boopasblobs; font-size: 24px; font-weight: bolder; position: fixed; right: 32px; text-decoration: none; text-shadow: 2px 2px 6px #c4a2f0; z-index: 1000;}
#scroll-text-zh:hover{color: palegreen;}

/*foot(er) info area*/
#moreinfo {align-items: center; bottom: 60px; column-gap: 8px; display: grid; grid-template-columns: 1fr 0.6fr 1fr; grid-template-rows: auto; justify-content: space-around; justify-items: center; margin: auto; margin-left: 20px; margin-right: 20px;
  grid-template-areas:"public-domain-declare buttomlogo contact-videos"". . ."". . .";}
#bottomlogo {grid-area: buttomlogo; margin-left: 0px; margin-top: 0px;}
#public-domain-declare {grid-area: public-domain-declare; margin-left: 10px; max-width: 500px; text-align: justify;}
#contact-videos {grid-area: contact-videos; max-width: 400px; text-align: center;}
#contact-videos hr{width: 80%;}

/*foot(er) very bottom*/
#foot {background: #beddf9; border-radius: 4%; bottom: 0; margin-bottom: -10px; padding-top: 6px; text-align: center; word-break: keep-all;}
#foot a {color: black;padding: 16px;white-space: nowrap;}
#foot-end{align-items: center; column-gap: 5px; display: flex; justify-content: center; margin: 5px;}
#foot-end a {padding: 0;}
#button-vegan:hover{filter: drop-shadow(0px 0px 12px red) invert(75%);}
#button-gnulinux:hover{filter: hue-rotate(60deg)}

/*responsive header and footer*/
@media (max-width: 800px) {
  #moreinfo {bottom: 50px; font-size: 0.9em; margin-left: 10px; margin-right: 10px;}
  #public-domain-logo {height: auto; width: 56px;}
  #bottomlogo {height: auto; margin-top: 0; width: 180px;}
  .display-flex{ row-gap: 6px;flex-direction: column;}
}
@media (max-width: 650px) {
  #moreinfo {grid-template-areas: "public-domain-declare public-domain-declare public-domain-declare" "bottomlogo . contact-videos" ". . ."; grid-template-columns: auto; margin-left: 0px; margin-right: 0px;}
  #bottomlogo {margin-left: 10vw;}
  #public-domain-declare {margin-left: 1em; margin-right: 1em;}
  pre{font-size: 80%}
  .display-grid{ row-gap:6px;display: flex;flex-direction: column; width: 80%;}
}
/*mobile view*/
@media (max-width: 480px) {
  .recipe-box{padding: 10px;}
  #site-title{margin-top: 35px;}
  #title-logo{ height: auto; vertical-align: sub;width: 40px;}
  #foot {padding-bottom: 4px; padding-top: 4px;}
  #foot a {padding: 4px;white-space: nowrap;}
  #moreinfo {grid-template-areas:"public-domain-declare" "bottomlogo" "contact-videos"; grid-template-columns: auto;}
  #public-domain-declare {margin-left: 0.5em; margin-right: 0.5em;}
  #bottomlogo {margin-left: 0px; margin-top: 15px;}
  .footer-button{height: auto; width: 80%;}
  #foot-end{column-gap: 1px; margin: 0px;}
  .section-box{padding: 6px; min-width:92%;}
  .download-btn{letter-spacing: 1px; padding: 4px;}
}

/*project boxes*/
.project-box > a{text-decoration: none; display: block; margin-left: auto; margin-right: auto; width: 600px;display: none;}
.project-box div {visibility: hidden; box-shadow: 0px 10px 10px #9ed286; border-style: solid; border-width: 2px; border-radius: 26px; height: 0px; overflow: hidden; padding: 0px; font-size: 110%; display: grid; grid-gap: 20px; row-gap: 0px; grid-template-columns: 40% 60%; color: black; overflow: hidden; max-width: 600px; border-radius: 26px; visibility: visible; height: max-content; padding: 32px; margin-bottom:64px;}
.project-box div img{margin-top: 10px; width:100%; height:auto;}
.project-box div h3{grid-column: 1/3; grid-row: 1;display: inline-block; color: black; margin-top: 0px; margin-bottom: 20px; padding-right: 20px;}
.project-box div p{margin-top: 10px; padding-right: 20px;}


.project-box a:hover{animation: gradient 26s ease infinite; border-radius: 26px; background:
  linear-gradient(45deg, rgba(224,144,144,.46), rgba(224,187,144,.46), rgba(224,218,144,.46), rgba(170,224,144,.46), rgba(144,224,195,.46), rgba(144,199,224,.46), rgba(144,161,224,.46));
  background-size: 400% 400%; box-shadow: 0px 15px 25px -5px #9ed286; transform: scale(1.01);}
.project-box div:active {box-shadow: 0px 4px 8px #a8d593; transform: scale(0.99);}
@media(max-width: 660px){
  .project-box > a{width: 90vw;}
  }
@media(max-width: 580px){
  .project-box > a{width: 90vw;}
  .project-box div{display: grid; margin-right: auto; grid-gap: 2px; grid-template-columns: 1fr; max-width: 75vw;}
  .project-box div p{grid-column: 1; grid-row: 3; display: none;}
}
.projects-sitemap{height: 0; overflow: hidden;}

/*project index*/
.project-index a{text-decoration: none; display: block; break-inside: avoid;}
.project-index {column-count: 3; column-gap: 64px; margin-left: auto; margin-right: auto; max-width: 2000px; padding-bottom: 64px; width: 80%;}
@media (max-width: 1100px) {.project-index {column-count: 2; column-gap: 64px; width: 90%;}}
@media (max-width: 800px) {.project-index {column-count: 1; width: 90%;}}
@media (min-width: 1100px) {.project-index{min-width: 990px;width: 80%;}}

.project-index div{overflow: hidden;color: black;padding: 32px; margin-bottom:64px; display: grid; margin-right: auto; grid-gap: 2px; grid-template-columns: 1fr; max-width: 75vw; border-radius: 10px; box-shadow: 0px 10px 10px #9ed286;
border-style: solid; border-width: 2px;}
.project-index div img{margin-top: 10px; width:100%; height:auto;}
.project-index div p{grid-column: 1; grid-row: 3; display: none;}
.project-index a{text-decoration: underline dotted;}

.project-index div h3{padding-right: 0px; grid-column: 1; grid-row: 3; font-family: Nunito, BoopasBlobs, sans-serif; display: block; margin-top: 1em; margin-bottom: 0; margin-left: 0; margin-right: 0; font-size: 1.2em; text-shadow: none; font-weight: bold;}

.project-index div:hover{border-radius: 10px;animation: gradient 26s ease infinite; background: linear-gradient(45deg, rgba(224,144,144,.46), rgba(224,187,144,.46), rgba(224,218,144,.46), rgba(170,224,144,.46), rgba(144,224,195,.46), rgba(144,199,224,.46), rgba(144,161,224,.46));
background-size: 400% 400%; box-shadow: 0px 15px 25px -5px #9ed286; /*transform: scale(1.01);*/}

.project-index div:active {box-shadow: 0px 4px 8px #a8d593; transform: scale(0.99);}

#tag-soapmaking:checked ~ nav div .tag-soapmaking{display: block;}
#tag-sewing:checked ~ nav div .tag-sewing{display: block;}
#tag-homemaking:checked ~ nav div .tag-homemaking{display: block;}
#tag-crochet:checked ~ nav div .tag-crochet{display: block;}
#tag-website-design:checked ~ nav div .tag-website-design{display: block;}
#tag-foss:checked ~ nav div .tag-foss{display: block;}
#tag-privacy:checked ~ nav div .tag-privacy{display: block;}
#tag-lifestyle:checked ~ nav div .tag-lifestyle{display: block;}
#tag-vegan:checked ~ nav div .tag-vegan{display: block;}
#tag-videos:checked ~ nav div .tag-videos{display: block;}
#tag-pdf:checked ~ nav div .tag-pdf{display: block;}
#tag-sitemap:checked ~ .projects-sitemap{visibility: visible; height: max-content;}

/*radio button styling*/
.tag-button {display: inline-block; padding: 10px 20px; margin: 10px; color: #292929; border-radius: 10px; background: #efefef; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22); transition: 0.3s; user-select: none;}
.tag-button:hover {animation: gradient 10s ease infinite; background: linear-gradient(45deg, #e19090, #e1bb90, #e1db90, #aae190, #90e1c4, #90c8e1, #90a1e1); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6), inset 0 -3px 0 rgba(0, 0, 0, 0.32);}
.tag-button:active {transform: translateY(2px);}
@media (max-width: 40em) {.tag-button {padding: 0em 1em 3px; margin: 0.25em;}}
.tag-input{position: absolute; visibility: hidden;}


.tag-input[id="tag-soapmaking"] + .tag-button:hover, .tag-soapmaking:hover, .project-index .tag-soapmaking div:hover, .project-box .tag-soapmaking:hover{background: linear-gradient(45deg, rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46)); background-size: 400% 400%;}
.tag-input[id="tag-sewing"] + .tag-button:hover{background: linear-gradient(45deg, rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46)); background-size: 400% 400%;}
.tag-input[id="tag-homemaking"] + .tag-button:hover, .tag-sewing:hover, .project-index .tag-sewing div:hover, .project-box .tag-sewing:hover{background: linear-gradient(45deg, rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46)); background-size: 400% 400%;}
.tag-input[id="tag-crochet"] + .tag-button:hover{background: linear-gradient(45deg, rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46)); background-size: 400% 400%;}
.tag-input[id="#"] + .tag-button:hover, .tag-homemaking:hover, .project-index .tag-homemaking div:hover, .project-box .tag-homemaking:hover{background: linear-gradient(45deg, rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46)); background-size: 400% 400%;}
.tag-input[id="tag-website-design"] + .tag-button:hover{background: linear-gradient(45deg, rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46)); background-size: 400% 400%;}
.tag-input[id="tag-foss"] + .tag-button:hover, .tag-crochet:hover, .project-index .tag-crochet div:hover, .project-box .tag-crochet:hover{background: linear-gradient(45deg, rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46)); background-size: 400% 400%;}
.tag-input[id="tag-privacy"] + .tag-button:hover{background: linear-gradient(45deg, rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46)); background-size: 400% 400%;}
.tag-input[id="#"] + .tag-button:hover, .tag-website-design:hover, .project-index .tag-website-design div:hover, .project-box .tag-website-design:hover{background: linear-gradient(45deg, rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46)); background-size: 400% 400%;}
.tag-input[id="tag-lifestyle"] + .tag-button:hover{background: linear-gradient(45deg, rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46)); background-size: 400% 400%;}
.tag-input[id="tag-vegan"] + .tag-button:hover, .tag-foss:hover, .project-index .tag-foss div:hover, .project-box .tag-foss:hover{background: linear-gradient(45deg, rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46)); background-size: 400% 400%;}
.tag-input[id="#"] + .tag-button:hover, .tag-privacy:hover, .project-index .tag-privacy div:hover, .project-box .tag-privacy:hover{background: linear-gradient(45deg, rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46)); background-size: 400% 400%;}
.tag-input[id="tag-videos"] + .tag-button:hover, .tag-lifestyle:hover, .project-index .tag-lifestyle div:hover, .project-box .tag-lifestyle:hover{background: linear-gradient(45deg, rgb(191, 144, 225, .46), rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46)); background-size: 400% 400%;}
.tag-input[id="tag-pdf"] + .tag-button:hover, .project-index .tag-pdf div:hover, .project-box .tag-pdf:hover{background: linear-gradient(45deg, rgb(225, 144, 213, .46), rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), rgb(144, 200, 225, .46), rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46)); background-size: 400% 400%;}
.tag-input[id="tag-sitemap"] + .tag-button:hover{background: linear-gradient(45deg, rgb(225, 144, 177, .46), rgb(225, 144, 144, .46), rgb(225, 187, 144, .46), rgb(225, 219, 144, .46), rgb(203, 225, 144, .46), rgb(170, 225, 144, .46), rgb(144, 225, 160, .46), rgb(144, 225, 196, .46), rgb(144, 222, 225, .46), #90c8e1, rgb(144, 183, 225, .46), rgb(144, 161, 225, .46), rgb(159, 144, 225, .46), rgb(191, 144, 225, .46), rgb(225, 144, 213, .46)); background-size: 400% 400%;}


.tag-input[id="tag-soapmaking"] + .tag-button:hover{background: linear-gradient(45deg, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1); background-size: 400% 400%;}
.tag-input[id="tag-sewing"] + .tag-button:hover{background: linear-gradient(45deg, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090); background-size: 400% 400%;}
.tag-input[id="tag-homemaking"] + .tag-button:hover{background: linear-gradient(45deg, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90); background-size: 400% 400%;}
.tag-input[id="tag-crochet"] + .tag-button:hover{background: linear-gradient(45deg, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90); background-size: 400% 400%;}
.tag-input[id="#"] + .tag-button:hover{background: linear-gradient(45deg, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190); background-size: 400% 400%;}
.tag-input[id="tag-website-design"] + .tag-button:hover{background: linear-gradient(45deg, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190); background-size: 400% 400%;}
.tag-input[id="tag-foss"] + .tag-button:hover{background: linear-gradient(45deg, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0); background-size: 400% 400%;}
.tag-input[id="tag-privacy"] + .tag-button:hover{background: linear-gradient(45deg, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4); background-size: 400% 400%;}
.tag-input[id="#"] + .tag-button:hover{background: linear-gradient(45deg, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1); background-size: 400% 400%;}
.tag-input[id="tag-lifestyle"] + .tag-button:hover{background: linear-gradient(45deg, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1); background-size: 400% 400%;}
.tag-input[id="tag-vegan"] + .tag-button:hover{background: linear-gradient(45deg, #90a1e1, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1); background-size: 400% 400%;}
.tag-input[id="#"] + .tag-button:hover{background: linear-gradient(45deg, #9f90e1, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1); background-size: 400% 400%;}
.tag-input[id="tag-videos"] + .tag-button:hover{background: linear-gradient(45deg, #bf90e1, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1); background-size: 400% 400%;}
.tag-input[id="tag-pdf"] + .tag-button:hover{background: linear-gradient(45deg, #e190d5, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1); background-size: 400% 400%;}
.tag-input[id="tag-sitemap"] + .tag-button:hover{background: linear-gradient(45deg, #e190b1, #e19090, #e1bb90, #e1db90, #cbe190, #aae190, #90e1a0, #90e1c4, #90dee1, #90c8e1, #90b7e1, #90a1e1, #9f90e1, #bf90e1, #e190d5); background-size: 400% 400%;}


#tag-soapmaking:checked + .tag-button{background: #aae190;}
#tag-sewing:checked + .tag-button {background: #90e1a0;}
#tag-homemaking:checked + .tag-button{background: #90e1c4;}
#tag-crochet:checked + .tag-button{background: #90dee1;}
#:checked + .tag-button{background: #90c8e1;}
#tag-website-design:checked + .tag-button{background: #90b7e1;}
#tag-foss:checked + .tag-button{background: #90a1e1;}
#tag-privacy:checked + .tag-button{background: #9f90e1;}
#:checked + .tag-button{background: #bf90e1;}
#tag-lifestyle:checked + .tag-button{background: #e190d5;}
#tag-vegan:checked + .tag-button{background: #e190b1;}
#:checked + .tag-button{background:  #e19090;}
#tag-videos:checked + .tag-button{background: #e1bb90;}
#tag-pdf:checked + .tag-button{background: #e1db90;}
#tag-sitemap:checked + .tag-button{background: #cbe190;}

@keyframes gradient {0% {background-position: 0% 50%;} 50% {background-position: 100% 50%;} 100% {background-position: 0% 50%;}}


/*shop boxes*/

.shop-box-small{
  width: 260px; margin-left: auto; margin-right: auto; box-shadow: 0px 10px 10px #9ed286; border-style: solid; border-width: 2px; border-radius: 26px; overflow: hidden; padding: 0px; font-size: 110%; color: black; max-width: 600px; border-radius: 26px; height: max-content; padding: 32px; margin-bottom:64px;
}
.shop-box-small img{width: 100%;}
.shop-box-small:hover{animation: gradient 26s ease infinite; border-radius: 26px; background:
  linear-gradient(45deg, rgba(224,144,144,.46), rgba(224,187,144,.46), rgba(224,218,144,.46), rgba(170,224,144,.46), rgba(144,224,195,.46), rgba(144,199,224,.46), rgba(144,161,224,.46));
  background-size: 400% 400%; box-shadow: 0px 15px 25px -5px #9ed286; transform: scale(1.01);}
.shop-box-big{display: none; width: 80vw; margin-left: auto; margin-right: auto; box-shadow: 0px 10px 10px #9ed286; border-style: solid; border-width: 2px; border-radius: 26px; overflow: hidden; padding: 0px; font-size: 110%; color: black; max-width: 600px; border-radius: 26px; height: max-content; padding: 32px; margin-bottom:64px;
}
.shop-boxes input:checked ~ .shop-box-big{display: block;}
.shop-boxes input:checked + label{display: none;}
