<header class="site-header" itemscope itemtype="https://schema.org/WPHeader">
    <!--navigation menu & mobile menu-->
    <nav class="header-menu">
          <div id="empty-header-filler"></div>
          <a href="./index.html" id="top-home">Home</a>
          <a href="./projecten.html" id="top-project-long">Vind een project</a>
          <a href="./projecten.html" id="top-project-short">Projecten</a>
          <a href="https://gentlelivingshop.com/" id="top-home">Shop</a>
<details id="language-selector">
            <summary><img class="vertical-bottom" id="language-select-img" src="../resources/img/header-language-selector.png" alt="choose a language below" height="35px" width="auto"></summary>
              <a href="../index.html" id="first-language"><div id="lang-long">English</div><div id="lang-short">EN</div></a>
              <a href="../zh/index.html" id="second-language"><div>中文</div></a>
          </details>

          <div id="empty-header-filler2"></div>
    </nav>
    <div class= "anchor" id="scrolltop"></div>
    <h1 id="site-title"><a href="./index.html" id="logo-link"><img class="img-rotate" id="title-logo" src="../resources/img/gls-logo-64px.webp"
                width="64" height="64" alt="title logo"></a> <a href="./index.html">Gentle Living Shop</a></h1>
    <h2>Ontdek handleidingen en meer over hoe we ons natuurlijke en handgemaakte leven creëren, vrije toegang voor iedereen❤️</h2>


</header>
