<footer itemscope itemtype="https://schema.org/WPFooter">
  <a href="#scrolltop"><div class="scroll-arrow"></div><span id="scroll-text-zh">上</span></a>
  <div id="moreinfo">
    <div id="public-domain-declare">
      <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank"><img id="public-domain-logo" src="../resources/img/gls-cc0-public-domain.webp" width="88" height="31" alt="CC0 public domain logo"></a> <span> 我們把本網站的所有內容發佈進入公共領域。歡迎大家無限制的複製、修改、並分享本網站內容❤ <a rel="license"
                    href="https://creativecommons.org/publicdomain/zero/1.0/deed.zh_TW" target="_blank">(了解更多)</a></span>
    </div>
    <div id="contact-videos">
      <p>喜歡我們分享的東西？告訴我們☺： <a href="mailto:gentlelivingshop@protonmail.com">gentlelivingshop at protonmail.com</a>或<a href="https://matrix.to/#/#gentlelivingshop:matrix.org?via=matrix.org">用Matrix</a>.
      </p>
      <hr>
      <p>觀看視頻教程：<a href="https://diode.zone/c/gentle_living_shop/videos" target="_blank">PeerTube</a> | <a href="https://www.youtube.com/channel/UCj-eQP-Mt6Eo0mh3iwdB9Hg">YouTube</a></p><br>
    </div>
    <div><img id="bottomlogo" src="../resources/img/gls-footer-love-blk-n-white.webp" alt="logo with handwriting" width="260" height="89"></div>
  </div>

  <div id="foot">
    <span><a href="./index.html">首頁</a></span>
    <span><a href="./about-us.html">關於我們</a></span>
    <span><a href="../privacy-policy.html">隱私政策(英文)</a></span>
    <span><a href="../site-map.html">🗺網站地圖</a></span>
    <span>
      <a href="https://gitlab.com/gentlelivingshop/gentlelivingshop.gitlab.io" target="_blank"><img src="../resources/img/gitlab-logo.webp" alt="gitlab logo" width="16px"> 原始碼</a></span>
    <span><a href="../index.html">English</a></span>
    <span><a href="../nl/index.html">Nederlands</a></span>
    <br>
    <div id="foot-end">
      <span><img class="footer-button" id="button-vegan" src="../resources/img/button-vegan-zh.webp" alt="100% vegan button" height="32" width="82"></span>
      <span>❤版權沒有∙歡迎轉載❤</span>
      <span><a href="./technologies-we-use.html"><img class="footer-button" id="button-gnulinux" src="../resources/img/button-gnulinux.webp" alt="gnulinux button" height="32" width="82"></a></span>
    </div>
  </div>
</footer>
