    <header class="site-header" itemscope itemtype="https://schema.org/WPHeader">
        <!--navigation menu & mobile menu-->
        <nav class="header-menu">
              <div id="empty-header-filler"></div>
              <a href="./index.html" id="top-home">首頁</a>
              <a href="./projects.html" id="top-project-long">尋找教程</a>
              <a href="./projects.html" id="top-project-short">找教程</a>
              <a href="https://gentlelivingshop.com/" id="top-shop">小店</a>
              <details id="language-selector">
                <summary><img class="vertical-bottom" id="language-select-img" src="../resources/img/header-language-selector.png" alt="choose a language below" height="35px" width="auto"></summary>
                <a href="../index.html" id="first-language"><div id="lang-long">English</div><div id="lang-short">EN</div></a>
                  <a href="../nl/index.html" id="second-language"><div id="lang-long">Nederlands</div><div id="lang-short">NL</div></a>
              </details>
              <div id="empty-header-filler2"></div>
        </nav>
        <div class= "anchor" id="scrolltop"></div>
        <h1 id="site-title"><a href="./index.html" id="logo-link"><img class="img-rotate" id="title-logo" src="../resources/img/gls-logo-64px.webp"
                    width="64" height="64" alt="title logo"></a> <a href="./index.html">Gentle Living Shop</a></h1>
        <h2>歡迎來到我們熱愛手工製作的家, 所有教程都免費為你提供❤</h2>
    </header>
